{% if page.sidebar == 1 %}
<aside class="side-bar">
    <h3>Sidebar</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae veniam possimus consequuntur similique distinctio aspernatur minima, omnis esse qui ipsam totam, maiores reprehenderit nisi ex doloremque ab asperiores. Aperiam, Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quasi, ad nulla voluptates illo ex eos repudiandae veniam mollitia dolorum quia quas nemo doloremque amet deserunt dolorem eaque, consequuntur reiciendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia omnis similique ducimus quos molestiae esse quam suscipit autem laboriosam harum, eaque expedita adipisci magni deserunt optio nostrum tempore nam beatae!</p>
</aside>
{% endif %}