.button {
    display: inline-block;
    padding: 0.5em 1.5em;
    background-color: var(--color-link-default);
    color: var(--color-body-bgrd);
    border-radius:0.3em;
    border: 1px solid transparent;
}
.button:hover {
    border:1px solid var(--color-link-default);
    background-color: var(--color-body-bgrd);
    color: var(--color-link-default);
}

.button-secondary {
    display: inline-block;
    padding: 0.5em 1.5em;
    background-color: var(--color-body-bgrd);
    color: var(--color-link-default);
    border:1px solid var(--color-link-default);
    border-radius:0.3em;
}
.button-secondary:hover {
    text-decoration: underline;
}

.button-wrapper {
    display:flex;
}

.button-wrapper .button {
    display:block;
}
.button-wrapper .button+ .button {
    margin-left:1em;
}
